@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="visible: action === 'request'">@(Html.Localize("AppointmentRequest"))</h4>
	<h4 class="modal-title" data-bind="visible: action === 'confirm'">@(Html.Localize("AppointmentConfirmation"))</h4>
</div>
<div class="modal-body card-body card-padding">

	<p data-bind="visible: action === 'request' && contactPersons().length > 0">
		@(Html.Localize("AppointmentRequestHint"))
	</p>
	<p data-bind="visible: action === 'confirm' && contactPersons().length > 0">
		@(Html.Localize("AppointmentConfirmationHint"))
	</p>
	<p data-bind="visible: contactPersons().length === 0">
		@(Html.Localize("AppointmentEmptyState"))
	</p>

	<div class="listview lv-bordered" data-bind="visible: contactPersons().length > 0">
		<div class="lv-body" data-bind="foreach: contactPersons">
			<div class="lv-item media">
				<div class="lv-avatar pull-left bgm-blue c-white" data-bind="text: Avatar"></div>
				<div class="media-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="lv-title" data-bind="text: Name"></div>
							<small data-bind="text: Type"></small>
						</div>
						<div class="col-sm-8">
							<a class="f-18" data-bind="text: Phone, visible: Phone" href="tel:{{Phone}}"></a>
							<a class="f-18" data-bind="text: Mobile, visible: Mobile" href="tel:{{Mobile}}"></a>
							<a class="f-18" data-bind="text: Fax, visible: Fax" href="tel:{{Fax}}"></a>
							<a class="f-18" data-bind="text: Email, visible: Email" href="mailto:{{Email}}{{$parent.currentUserDropboxAddress}}subject={{$parent.subject}}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Close"))
	</button>
</div>
