@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div id="{{Id}}" class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	<div class="lv-avatar pull-left bgm-green" data-bind="visible: Completed">
		<i class="zmdi zmdi-check"></i>
	</div>
	<div class="lv-avatar pull-left bgm-blue" data-bind="visible: !Completed()">
	</div>
	<div class="media-body">
		<div class="lv-title">
			<span data-bind="text: $parent.getChecklistTitle($data)"></span>
		</div>
		<ul class="lv-attrs">
			<li>
				@(Html.Localize("CreateDate")): <span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'short' } }"></span>
			</li>
			<li>
				@(Html.Localize("CreateUser")): <span data-bind="userDisplayName: CreateUser"></span>
			</li>
			<li data-bind="visible: RequiredForServiceOrderCompletion">
				@(Html.Localize("RequiredForServiceOrderCompletion"))
			</li>
			<li data-bind="visible: SendToCustomer">
				@(Html.Localize("WillBeSentToCustomer"))
			</li>
		</ul>
		<lv-actions>
			<!-- ko requiredPermission: { name: 'Read', group: 'ServiceOrderChecklist' } -->
			<li>
				<a href="#" data-bind="attr: { 'data-route': 'Sms.Checklists/ServiceOrderChecklist/DetailsTemplate/' + Id() }, translatedText: Completed() ? 'View' : 'Preview'" data-toggle="modal" data-target="#lgModal">
				</a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'Edit', group: 'ServiceOrderChecklist' } -->
			<li data-bind="visible: $parentContext.$parentContext.$parent.checklistIsEditable($data)">
				<a href="#" data-bind="attr: { 'data-route': 'Sms.Checklists/ServiceOrderChecklist/EditTemplate/' + Id() }" data-toggle="modal" data-target="#lgModal">
					@(Html.Localize("Edit"))
				</a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'Delete', group: 'ServiceOrderChecklist' } -->
			<!-- ko if: !$data.RequiredForServiceOrderCompletion() || window.AuthorizationManager.isAuthorizedForAction('ServiceOrderChecklist', 'ToggleRequired') -->
			<li data-bind="visible: $parentContext.$parentContext.$parent.checklistIsDeletable($data)">
				<!-- ko with: $parentContext.$parentContext.$parent -->
				<a href="#" data-bind="click: $data.deleteServiceOrderChecklist.bind($data, $parent)">
					@(Html.Localize("Delete"))
				</a>
				<!-- /ko -->
			</li>
			<!-- /ko -->
			<!-- /ko -->
			@Html.PluginRenderActions("DispatchServiceOrderChecklistTemplateActions")
		</lv-actions>
	</div>
</div>
