@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModel>
@using Crm.Library.Modularization.Extensions
@using Crm.Library.Globalization.Extensions

<div id="{{Id}}" class="lv-item media">
	<div class="media-body">
		<div class="row">
			<div class="col-sm-5">
				<address>
					<address-block params="address: Child, lookups: $root.lookups"></address-block>
				</address>
				<small class="small" data-bind="text: Information"></small>
				<ul class="lv-attrs">
					@Html.PluginRenderActions("InstallationAddressRelationshipItemTemplateAttributes")
				</ul>
				@Html.PluginRenderActions("InstallationAddressRelationshipItemTemplateExtensions")
			</div>
		</div>
		<lv-actions>
			<!-- ko requiredPermission: { name: 'EditAddressRelationship', group: 'Installation' } -->
			<li>
				<a href="#" data-route="Crm.Service/InstallationAddressRelationship/EditTemplate/{{Id}}" data-toggle="modal" data-target="#modal">
					@(Html.Localize("Edit"))
				</a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'RemoveAddressRelationship', group: 'Installation' } -->
			<li>
				<a href="#" data-bind="click: $parentContext.$parentContext.$parent.deleteRelationship">
					@(Html.Localize("Remove"))
				</a>
			</li>
			<!-- /ko -->
			@Html.PluginRenderActions("InstallationAddressRelationshipItemTemplateActions")
		</lv-actions>
	</div>
</div>
