@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Offline.Extensions
@using Crm.Service.Rest.Model


<div class="row" data-bind="with: dispatch">
	<div class="col-xs-4" data-bind="visible: SignatureJson, if: SignatureJson">
		<h4>
			<span data-bind="translatedText: { key: 'Signature', language: $parent.selectedLanguage }">@(Html.Localize("Signature"))</span>
			<span data-bind="translatedText: { key: 'Customer', language: $parent.selectedLanguage }">@(Html.Localize("Customer"))</span>
		</h4>
		<div class="underline">
			<input class="signature" type="hidden" data-bind="signaturePad: SignatureJson" data-sign-width="250" data-sigpencolour="#000000" data-sigbgcolour="#FFFFFF" data-sigbordercolour="#FFFFFF"/>
		</div>
		<div>
			@(Html.TemplateText<ServiceOrderDispatchRest>(x => x.SignatureDate).Pattern(DateTimePattern.DateMedium)) / @(Html.TemplateText<ServiceOrderDispatchRest>(x => x.SignatureContactName))
		</div>
	</div>
	<div class="col-xs-4" data-bind="visible: SignatureTechnicianJson, if: SignatureTechnicianJson">
		<h4>
			<span data-bind="translatedText: { key: 'Signature', language: $parent.selectedLanguage }">@(Html.Localize("Signature"))</span>
			<span data-bind="translatedText: { key: 'Technician', language: $parent.selectedLanguage }">@(Html.Localize("Technician"))</span>
		</h4>
		<div class="underline">
			<input class="signature" type="hidden" data-bind="signaturePad: SignatureTechnicianJson" data-sign-width="250" data-sigpencolour="#000000" data-sigbgcolour="#FFFFFF" data-sigbordercolour="#FFFFFF"/>
		</div>
		<div>
			@(Html.TemplateText<ServiceOrderDispatchRest>(x => x.SignatureTechnicianDate).Pattern(DateTimePattern.DateMedium)) / <span data-bind="text: window.Helper.User.getDisplayName($parentContext.$data.dispatchedUser)"></span>
			</div>
	</div>
	<div class="col-xs-4" data-bind="visible: SignatureOriginatorJson, if: SignatureOriginatorJson">
		<h4>
			<span data-bind="translatedText: { key: 'Signature', language: $parent.selectedLanguage }">@(Html.Localize("Signature"))</span>
			<span data-bind="translatedText: { key: 'Initiator', language: $parent.selectedLanguage }">@(Html.Localize("Initiator"))</span>
		</h4>
		<div class="underline">
			<input class="signature" type="hidden" data-bind="signaturePad: SignatureOriginatorJson" data-sign-width="250" data-sigpencolour="#000000" data-sigbgcolour="#FFFFFF" data-sigbordercolour="#FFFFFF"/>
		</div>
		<div>
			@(Html.TemplateText<ServiceOrderDispatchRest>(x => x.SignatureOriginatorDate).Pattern(DateTimePattern.DateMedium)) / @(Html.TemplateText<ServiceOrderDispatchRest>(x => x.SignatureOriginatorName))
		</div>
	</div>
</div>
<div class="clearfix" style="clear: both"></div>
<!-- ko with: dispatch -->
@using (Html.TemplateCondition<ServiceOrderDispatchRest>(x => x.SignPrivacyPolicyAccepted))
   { 
	<!-- ko with: $parent -->
	 @await Html.PartialAsync("DataPrivacyPolicy") 
	<!-- /ko -->
 } 
<!-- /ko -->
