@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Offline.Extensions

<div class="row m-b-15">
	<div class="col-xs-12">
		@using (Html.TemplateContext("serviceOrder"))
		   { 
			<div>
				<h4 data-bind="translatedText: { key: 'ServiceOrderDetails', language: $parent.selectedLanguage }">@(Html.Localize("ServiceOrderDetails"))</h4>
			</div>
			<div data-bind="text: ErrorMessage"></div>
		 } 
	</div>
</div>
<div class="row m-b-15">
	@using (Html.TemplateCondition("$root.dispatch"))
	{
		<div class="col-xs-4">
			@using (Html.TemplateContext("dispatch"))
			{
				<div>
					<b data-bind="translatedText: { key: 'Technician', language: $parent.selectedLanguage }">@(Html.Localize("Technician"))</b>
				</div>
				<div data-bind="text: Helper.User.getDisplayName($parent.dispatchedUser)"></div>
			}
		</div>
	}
	<div class="col-xs-4">
		@using (Html.TemplateContext("serviceOrder"))
		   { 
			<div>
				<b>
					<span data-bind="translatedText: { key: 'PurchaseOrderNo', language: $parent.selectedLanguage }">@(Html.Localize("PurchaseOrderNo"))</span>,
					<span data-bind="translatedText: { key: 'PurchaseDate', language: $parent.selectedLanguage }">@(Html.Localize("PurchaseDate"))</span>
				</b>
			</div>
			<div data-bind="visible: !PurchaseOrderNo() && !PurchaseDate()">
				-
			</div>
			<div data-bind="visible: PurchaseOrderNo() || PurchaseDate()">
				<span data-bind="text: PurchaseOrderNo() || '-'"></span>, <span data-bind="text: PurchaseDate() ? Globalize.formatDate(new Date(PurchaseDate()), { date: 'medium' }) : '-'"></span>
			</div>
		 } 
	</div>
	<div class="col-xs-4">
		@using (Html.TemplateContext("serviceObject"))
		   { 
			<div>
				<b data-bind="translatedText: { key: 'ServiceObject', language: $parent.selectedLanguage }">@(Html.Localize("ServiceObject"))</b>
			</div>
			<div data-bind="text: Helper.ServiceObject.getDisplayName($data)"></div>
		 } 
	</div>
</div>
