@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<pmbb-view>
	<!-- ko with: installation -->
	<pmbb-view-entry params="caption: 'Installation'">
		<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
		<a href="#/Crm.Service/Installation/DetailsTemplate/{{Id}}">
			<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
		</a>
		<!-- /ko -->
		<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
		<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
		<!-- /ko -->
		<ul class="actions pull-right" data-bind="visible: $parentContext.$parentContext.$parentContext.$parent.condition && $root.dispatchIsEditable() && window.AuthorizationManager.isAuthorizedForAction('Installation', 'Edit')">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown">
					<i class="zmdi zmdi-more-vert"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
					<li>
						<a href="#/Crm.Service/Installation/DetailsTemplate/{{Id}}">@(Html.Localize("Details"))</a>
					</li>
					<!-- /ko -->
					<li>
						<a data-pmb-action="edit" href="#" data-bind="click: $parentContext.$parentContext.$parentContext.$parent.toggle">@(Html.Localize("Edit"))</a>
					</li>
					@Html.PluginRenderActions("DispatchInstallationTemplateActions")
				</ul>
			</li>
		</ul>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'InstallationLocation'">
		<!-- ko with: Address -->
		<address-block params="address: $data, lookups: $root.lookups"></address-block>
		<!-- /ko -->
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: LocationAddressKey"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'InstallationType'">
		<span data-bind="if: InstallationTypeKey, lookupValue: InstallationTypeKey, lookups: $root.lookups.installationTypes"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InstallationTypeKey"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'InstallationStatus'">
		<span data-bind="if: StatusKey, lookupValue: StatusKey, lookups: $root.lookups.installationHeadStatuses"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: StatusKey"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'LegacyInstallationId'">
		<span data-bind="text: LegacyInstallationId"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: LegacyInstallationId"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'ExternalReference'">
		<span data-bind="text: ExternalReference"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExternalReference"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'ExactPlace'">
		<span data-bind="text: ExactPlace"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExactPlace"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'Room'">
		<span data-bind="text: Room"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Room"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'Station'">
		<span data-bind="if: ExtensionValues().KagemaStandort, text: ExtensionValues().KagemaStandort"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().KagemaStandort"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'Manufacturer'">
		<span data-bind="if: ManufacturerKey, lookupValue: ManufacturerKey, lookups: $root.lookups.manufacturers"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ManufacturerKey"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'ManufactureDate'">
		<span data-bind="dateText: ManufactureDate"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ManufactureDate"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'KickoffDate'">
		<span data-bind="dateText: KickOffDate"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: KickOffDate"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'WarrantyFrom'">
		<span data-bind="dateText: WarrantyFrom"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: WarrantyFrom"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'WarrantyUntil'">
		<span data-bind="dateText: WarrantyUntil"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: WarrantyUntil"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'BackgroundInfo'">
		<span data-bind="text: BackgroundInfo"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: BackgroundInfo"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'TechnicianInformation'">
		<span data-bind="text: TechnicianInformation"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: TechnicianInformation"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'MotorTyp'">
		<span data-bind="if: ExtensionValues().MotorTyp, text: ExtensionValues().MotorTyp"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().MotorTyp"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'MotorNummer'">
		<span data-bind="if: ExtensionValues().MotorNummer, text: ExtensionValues().MotorNummer"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().MotorNummer"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'GeneratorTyp'">
		<span data-bind="if: ExtensionValues().GeneratorTyp, text: ExtensionValues().GeneratorTyp"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().GeneratorTyp"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'GeneratorNummer'">
		<span data-bind="if: ExtensionValues().KagemaStandort, text: ExtensionValues().GeneratorNummer"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().GeneratorNummer"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'PumpeTyp'">
		<span data-bind="if: ExtensionValues().PumpeTyp, text: ExtensionValues().PumpeTyp"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().PumpeTyp"></span>
	</pmbb-view-entry>
	<pmbb-view-entry params="caption: 'PumpeNummer'">
		<span data-bind="if: ExtensionValues().PumpeNummer, text: ExtensionValues().PumpeNummer"></span>
		<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExtensionValues().PumpeNummer"></span>
	</pmbb-view-entry>
	<!-- /ko -->
</pmbb-view>
<pmbb-edit>
	<!-- ko with: installation -->
	<pmbb-edit-entry params="caption: 'ExternalReference', validationElement: ExternalReference">
		<input type="text" class="form-control" data-bind="value: ExternalReference">
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'ExactPlace', validationElement: ExactPlace">
		<input type="text" class="form-control" data-bind="value: ExactPlace">
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'Room', validationElement: Room">
		<input type="text" class="form-control" data-bind="value: Room">
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'ManufactureDate', validationElement: ManufactureDate">
		<input type="text" class="form-control date-picker" data-bind="datePicker: ManufactureDate" placeholder="@(Html.Localize("ClickHere"))">
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'LegacyInstallationId', validationElement: LegacyInstallationId">
		<input type="text" class="form-control" data-bind="value: LegacyInstallationId">
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'InstallationStatus', validationElement: StatusKey">
		<select class="form-control" data-bind="select2autocompleter: { data: StatusKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_InstallationHeadStatus'), placeholder: $parent.placeholder }">
		</select>
	</pmbb-edit-entry>
	<pmbb-edit-entry params="caption: 'TechnicianInformation', validationElement: TechnicianInformation">
		<textarea class="form-control" rows="5" placeholder="@(Html.Localize("TechnicianInformation"))..." data-bind="value: TechnicianInformation"></textarea>
	</pmbb-edit-entry>
	<!-- /ko -->
</pmbb-edit>
