@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<script type="text/html" id="dispatch-autocomplete-template">
	<div id="{{Id}}" class="listview">
		<div class="lv-item media p-0">
			<div class="lv-avatar pull-left" data-bind="text: Helper.ServiceOrder.getTypeAbbreviation($data.ServiceOrder, $root.lookups.serviceOrderTypes), style: { backgroundColor: Helper.Lookup.getLookupColor($root.lookups.serviceOrderTypes, $data.ServiceOrder.TypeKey) }, visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
			<div class="media-body">
				<div class="row">
					<div class="col-sm-3 col-sm-push-9">
						<div class="f-500">
							<i class="zmdi zmdi-time"></i>
							<span data-bind="dateText: Date"></span>
							<span data-bind="dateText: { value: Time, pattern: { time: 'short' } }"></span>
							<span class="c-red" data-bind="if: IsFixed">
								@(Html.Localize("Fix"))
							</span>
						</div>
						<div class="f-500">
							<i class="zmdi zmdi-time-interval"></i>
							<span data-bind="durationText: Duration"></span>
						</div>
					</div>
					<div class="col-sm-9 col-sm-pull-3" data-bind="with: ServiceOrder">
						<div>
							<div>
								<span data-bind="text: OrderNo"></span>
								<small data-bind="lookupValue: TypeKey, lookups: $root.lookups.serviceOrderTypes"></small>
							</div>
							<div data-bind="with: Company">
								@(Html.Localize("Customer")):
								<span data-bind="text: LegacyName"></span>
							</div>
							<div data-bind="with: ServiceObject">
								@(Html.Localize("ServiceObject")):
								<span data-bind="text: ObjectNo"></span>
								<span data-bind="text: Name"></span>
							</div>
							<div data-bind="with: Installation">
								@(Html.Localize("Installation")):
								<span data-bind="text: InstallationNo"></span>
								<span data-bind="text: Description"></span>
							</div>
						</div>
						<small>
							<span data-bind="text: Street"></span>
							<br>
							<span data-bind="text: CountryKey"></span>
							<span data-bind="visible: CountryKey">-</span>
							<span data-bind="text: ZipCode"></span>
							<span data-bind="text: City"></span>
						</small>
						<div data-bind="text: ErrorMessage"></div>
						<ul class="lv-attrs">
							<!-- ko if: Installation -->
							<li data-bind="style: { color: Helper.Lookup.getLookupColor($root.lookups.installationHeadStatuses, $data.Installation.StatusKey) }">
								@(Html.Localize("InstallationStatus")):
								<span data-bind="lookupValue: Installation.StatusKey, lookups: $root.lookups.installationHeadStatuses"></span>
							</li>
							<!-- /ko -->
							<li data-bind="visible: PriorityKey, style: { color: Helper.Lookup.getLookupColor($root.lookups.servicePriorities, $data.PriorityKey) }">
								@(Html.Localize("Priority")):
								<span data-bind="lookupValue: PriorityKey, lookups: $root.lookups.servicePriorities"></span>
							</li>
							<li data-bind="visible: PurchaseOrderNo">
								@(Html.Localize("PurchaseOrderNo")):
								<span data-bind="text: PurchaseOrderNo"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
