@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt" data-bind="with: expense">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState === 20">@(Html.Localize("AddExpense"))</h4>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState !== 20">@(Html.Localize("EditExpense"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form role="form" action="#" data-bind="with: expense">
		<!-- ko requiredPermission: { name: 'SeeAllUsersPerDiemReports', group: 'PerDiemReport' } -->
		<form-element id="ResponsibleUser" params="value: ResponsibleUser, caption: 'ResponsibleUser', type: 'select2'">
			<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, placeholder: placeholder } }" disabled>
			</select>
		</form-element>
		<!-- /ko -->
		<form-element params="value: Date, caption: 'Date', type: 'datePicker', datePickerOptions: { config: { minDate: $root.minDate(), maxDate: $root.maxDate() } }"></form-element>
		<form-element id="ExpenseTypeKey" params="value: ExpenseTypeKey, caption: 'ExpenseType', type: 'select'" data-bind="visible: $root.lookups.expenseTypes.$array.length">
			<select name="ExpenseTypeKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.PerDiem.autocompleterOptionsToPerDiemLookups('CrmPerDiem_ExpenseType',  $root.onSelectExpenseType.bind($root))}">
			</select>
		</form-element>
		<!-- ko if: $root.validCostCenters().length -->
		<form-element params="value: CostCenterKey, caption: 'CostCenter', type: 'select'">
			<select name="CostCenterKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.PerDiem.autocompleterOptionsToCostCenter('Main_CostCenter', $root.validCostCenters) }">
			</select>
		</form-element>
		<!-- /ko -->
		<form-element params="value: Amount, caption: 'Amount', type: 'number'"></form-element>
		<form-element id="CurrencyKey" params="value: CurrencyKey, caption: 'Currency', type: 'select'" data-bind="visible: $root.lookups.currencies.$array.length">
			<select name="CurrencyKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Currency'), placeholder: placeholder}">
			</select>
		</form-element>
		<form-element params="value: $parent.fileResource, caption: 'File', type: 'fileResource', accept: 'image/jpeg,image/png,image/gif, application/pdf'"></form-element>
		<form-element params="value: Description, caption: 'Description', type: 'textarea'"></form-element>
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>
