@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
<div class="col-sm-6">
	<form role="form" action="#/Main/CompanyList/IndexTemplate" method="GET">
		<div id="contact-search-widget" class="card">
			<div class="card-header ch-alt">
				<h2>
					@(Html.Localize("CompanyContactSearch"))
					<small>@(Html.Localize("EnterSearchCriteria"))</small>
				</h2>
			</div>
			<div class="card-body card-padding">
					<div class="form-group">
						<div class="fg-line">
							<label class="fg-label control-label">
								@(Html.Localize("Name"))
							</label>
							<input type="text" name="filter.Name" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="fg-line">
							<label class="fg-label control-label">
								@(Html.Localize("City"))
							</label>
							<input type="text" name="filter.StandardAddress.City" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="fg-line">
							<label class="fg-label control-label">
								@(Html.Localize("ZipCode"))
							</label>
							<input type="text" name="filter.StandardAddress.ZipCode" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="fg-line">
							<label class="fg-label control-label">
								@(Html.Localize("ContactLegacyId"))
							</label>
							<input type="text" name="filter.LegacyId" class="form-control">
						</div>
					</div>
			</div>
			<div class="card-header ch-alt p-15 text-right">
				<button type="submit" class="btn btn-lg btn-primary f-13 waves-effect">
					@(Html.Localize("StartSearch"))
				</button>
			</div>
		</div>
	</form>
</div>
