@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal fade" id="dynamic-form-import-modal" tabindex="-1" role="dialog">
	<form id="dynamic-form-import-form" action="@(Url.Action("Import", "DynamicForm", new { plugin = "Crm.DynamicForms" }))" method="post">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">@(Html.Localize("ImportFile"))</h4>
				</div>
				<div class="modal-body card-body card-padding">
					<div class="form-group">
						<label class="field">
							<span class="description">@(Html.Localize("ImportFile")) (json)</span>
						</label>
						<input class="form-control" name="jsonFile" type="file">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">@(Html.Localize("Cancel"))</button>
					<input type="submit" class="btn btn-primary" value="@(Html.Localize("ImportFile"))" />
				</div>
			</div>
		</div>
	</form>
</div>
