@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Order.Model.Lookups

<li data-bind="visible: offer().StatusKey() === '@OrderStatus.OpenKey' && offer().IsLocked() === false, requiredPermission: { name: 'Edit', group: 'Offer' }, click: exportOffer">
	<a href="#">
		<i class="zmdi zmdi-mail-reply"></i>
		@(Html.Localize("Export"))
	</a>
</li>
<li class="disabled" data-bind="visible: !offer().ReadyForExport() && offer().IsLocked(), requiredPermission: { name: 'Edit', group: 'Offer' }">
	<a href="#">
		<i class="zmdi zmdi-mail-reply"></i>
		@(Html.Localize("Export"))
	</a>
</li>
<li class="disabled" data-bind="visible: offer().ReadyForExport() && !offer().IsExported() && window.Helper.Offline && window.Helper.Offline.status == 'offline', requiredPermission: { name: 'Edit', group: 'Offer' }">
	<a href="#">
		<i class="zmdi zmdi-mail-reply"></i>
		@(Html.Localize("CancelExport"))
	</a>
</li>
<li data-bind="visible: offer().ReadyForExport() && !offer().IsExported() && (!window.Helper.Offline || window.Helper.Offline.status == 'online'), requiredPermission: { name: 'Edit', group: 'Offer' }, click: cancelExport">
	<a href="#">
		<i class="zmdi zmdi-mail-reply"></i>
		@(Html.Localize("CancelExport"))
	</a>
</li>
<li class="disabled" data-bind="visible:  offer().IsExported(), requiredPermission: { name: 'Edit', group: 'Offer' }">
	<a href="#">
		<i class="zmdi zmdi-mail-reply"></i>
		@(Html.Localize("Exported"))
	</a>
</li>