@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		@(Html.Localize("EditOffer"))
	</h4>
</div>
<div class="modal-body card-body card-padding">
	<p>
		@(Html.Localize("SaveOfferHint"))
	</p>
	<p class="m-t-10">
	</p>
	<form role="form" data-bind="with: offer">
		@await Html.PartialAsync("BaseOrderContactSelection")
		<!-- ko if: (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
		<div class="form-group" data-bind="validationElement: OrderNo" title="">
			<div class="fg-line">
				<label class="fg-label control-label" data-bind="visible: 'OrderNo'">
					<span>@Html.Localize("OfferNo")</span>
				</label>
				<input type="text" class="form-control fg-input" name="OrderNo" data-bind="value: OrderNo, attr: { maxlength: 30}, disable: window.Crm.Order.Settings.Offer.OfferNoIsEditable == false">
			</div>
			<small class="help-block pre-line" data-bind="validationMessage: OrderNo" style="display: none;"></small>
		</div>
		<!-- /ko -->
		<!-- ko if: Crm.Order.Settings.OrderDeliveryAddressEnabled -->
		<div class="form-group delivery-address" data-bind="validationElement: DeliveryAddressId">
			<div class="fg-line select">
				<label class="fg-label control-label">@(Html.Localize("DeliveryAddress"))</label>
				<address-selector params="addressId: DeliveryAddressId, lookups: $root.lookups, addresses: $root.addresses"/>
			</div>
			<small class="help-block" data-bind="validationMessage: DeliveryAddressId"></small>
		</div>
		<!-- /ko -->
		<!-- ko if: Crm.Order.Settings.OrderBillingAddressEnabled -->
		<div class="form-group billing-address" data-bind="validationElement: BillingAddressId">
			<div class="fg-line select">
				<label class="fg-label control-label">@(Html.Localize("BillAddress"))</label>
				<address-selector params="addressId: BillingAddressId, lookups: $root.lookups, addresses: $root.addresses"/>
			</div>
			<small class="help-block" data-bind="validationMessage: BillingAddressId"></small>
		</div>
		<!-- /ko -->
		<div class="form-group" data-bind="validationElement: CurrencyKey">
			<div class="fg-line">
				<label class="fg-label control-label">@(Html.Localize("Currency"))</label>
					<select class="form-control" data-bind="select2autocompleter: { data: CurrencyKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Currency')}" >
					</select>
			</div>
			<small class="help-block" data-bind="validationMessage: CurrencyKey"></small>
		</div>
		 <div class="form-group has-feedback" data-bind="validationElement: ValidTo">
			 <label class="control-label">@(Html.Localize("ValidTo"))</label>
			 <div class="dtp-container fg-line">
				 <input name="ValidTo" type="text" class="form-control date-picker" data-bind="datePicker: ValidTo, datePickerOptions: { config: { minDate: new Date() } }" placeholder="@(Html.Localize("ClickHere"))">
			 </div>
			 <span class="zmdi zmdi-calendar form-control-feedback"></span>
			 <small class="help-block" data-bind="validationMessage: ValidTo"></small>
		 </div>
		 @Html.PluginRenderActions("OfferSaveForm")
		<!-- ko if: Crm.Order.Settings.OrderPrivateDescriptionEnabled -->
		<div class="form-group">
			<div class="fg-line">
				<label class="fg-label control-label">@(Html.Localize("T_AdditionalInformation"))</label>
				<textarea name="PrivateDescription" class="form-control fg-input" data-bind="value: PrivateDescription, autosize: true"></textarea>
			</div>
		</div>
		<!-- /ko -->
	</form>
	<p></p>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>
