@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using Crm.Order.Model.Lookups

<div id="summary" class="card">
  <div class="card-header ch-alt m-b-10">
	<h2>
	  @(Html.Localize("OfferSummaryTitle"))
	  <small>
		@(Html.Localize("OfferSummary"))
	  </small>
	</h2>
  </div>
  <div class="card-body card-padding">
	<div class="listview lv-bordered">
	  <div class="lv-body">
		<h5 class="text-uppercase">
		  <i class="zmdi zmdi-view-headline m-r-10"></i>@(Html.Localize("General"))
		</h5>
		<div class="lv-item media">
			<div class="media-body">
				<div class="lv-title">
					@(Html.Localize("OfferNumber"))
				</div>
				<small class="lv-small offer-no" data-bind="text: baseOrder().OrderNo() || Helper.String.getTranslatedString('Unspecified')"></small>
			</div>
		</div>
		<div class="lv-item media">
			<div class="media-body">
				<div class="lv-title">
					@(Html.Localize("Status"))
				</div>
				<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($root.lookups.orderStatuses, baseOrder().StatusKey) }"></i>
				<small style="display: inline;" class="lv-small" data-bind="lookupValue: baseOrder().StatusKey, lookups: $root.lookups.orderStatuses"></small>
				<!-- ko if: baseOrder().StatusKey() === '@OrderStatus.CanceledKey' -->
				<small class="lv-small">@Html.Localize("Category"): <span data-bind="lookupValue: baseOrder().CancelReasonCategoryKey, lookups: $root.lookups.cancelReasonCategories"></span></small>
				<small class="lv-small">@Html.Localize("Comment"): <span data-bind="text: baseOrder().CancelReasonText"></span></small>
				<!-- /ko -->
			</div>
		</div>
		<!-- ko with: baseOrder().Company -->
		<div class="lv-item media">
		  <div class="media-body">
			<div class="lv-title">
			  @(Html.Localize("Contact"))
			</div>
			<small class="lv-small">
			  <a href="#" data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + Id() }">
				  <span data-bind="text: Helper.Company.getDisplayName($data)"></span>
			  </a>
			</small>
		  </div>
		</div>
		<!-- /ko -->
		<!-- ko with: baseOrder().Person -->
		<div class="lv-item media">
			<div class="media-body">
				<div class="lv-title">
					@(Html.Localize("ContactPerson"))
				</div>
				<small class="lv-small" data-bind="text: Helper.Person.getDisplayName($data)"></small>
			</div>
		</div>
		<!-- /ko -->
		@Html.PluginRenderActions("OfferSummaryGeneral")
		<h5 class="text-uppercase">
			<!-- ko if: baseOrder().Price -->
				<i class="zmdi zmdi-view-headline m-r-10"></i>@(Html.Localize("SalesPriceTaxIncluded"))
			<!-- /ko -->
			<!-- ko ifnot: baseOrder().Price -->
				<i class="zmdi zmdi-view-headline m-r-10"></i>@(Html.Localize("SalesPrice"))
			<!-- /ko -->
		</h5>
		<div class="lv-item media">
		  <div class="media-body">
			<div class="lv-title lead pull-right m-b-0">
			  <span data-bind="text: getCurrencyValue(baseOrder().CurrencyKey())"></span> <span class="total-price" data-bind="money: baseOrder().Price() || totalPrice()"></span>
			</div>
		  </div>
		</div>
		@Html.PluginRenderActions("OfferSummaryBottom")
	  </div>
	</div>
  </div>
</div>

