@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">
		@(Html.Localize("Files"))
	</h4>
</div>
<div class="modal-body card-body card-padding">
	<div class="alert alert-danger" data-bind="text: fileSyncError, visible: fileSyncError"></div>
	<dl class="dl-horizontal" data-bind="visible: filesOffline() !== null && filesTotal() !== null">
		<dt>@(Html.Localize("OfflineFiles"))</dt>
		<dd>{{filesOffline}} / {{filesTotal}}</dd>
	</dl>
	<dl class="dl-horizontal" data-bind="visible: spaceUsed() !== null">
		<dt>@(Html.Localize("UsedSpace"))</dt>
		<dd data-bind="fileSize: spaceUsed"></dd>
	</dl>
	<dl class="dl-horizontal" data-bind="visible: spaceFree() !== null">
		<dt>@(Html.Localize("RemainingFreeSpace"))</dt>
		<dd data-bind="fileSize: spaceFree"></dd>
	</dl>
	<dl class="dl-horizontal" data-bind="visible: fileSyncStatus">
		<dt>@(Html.Localize("Status"))</dt>
		<dd data-bind="text: fileSyncStatus"></dd>
	</dl>
	<div class="text-center" data-bind="visible: fileSyncActive">
		<div class="btn btn-link preloader pl-lg" data-bind="click: cancel">
			<i class="zmdi zmdi-view-agenda zmdi-hc-lg zmdi-hc-rotate-90 m-b-30"></i>
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"></circle>
			</svg>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 p-t-10">
			<button type="button" class="btn btn-danger btn-lg f-13 waves-effect" data-bind="click: deleteFiles, visible: fileSyncActive() === false && filesOffline() > 0">
				@(Html.Localize("DeleteFiles"))
			</button>
		</div>
		<div class="col-sm-6 p-t-10">
			<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: syncFiles, visible: fileSyncActive() === false && filesTotal() > 0">
				@(Html.Localize("SyncFiles"))
			</button>
		</div>
	</div>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-dismiss="modal">
		@(Html.Localize("Hide"))
	</button>
</div>

