@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Article.Model.Enums
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	<div class="lv-avatar pull-left" data-bind="text: $data.PosNo, style: { backgroundColor: $parent.getAvatarColor($data) }"></div>
	<div class="media-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="lv-title m-b-5 m-r-10">
				<span data-bind="text: Description"></span>
				<!-- ko if: !!Article -->
				<span data-bind="text: ' - ' + Article.ItemNo"></span>
				<span data-bind="text: ' - ' + Helper.Article.getArticleDescription(Article)"></span>
				<!-- /ko -->
				<div data-bind="with: Installation">
					@(Html.Localize("Installation")):
					<span data-bind="text: InstallationNo"></span>
					<span data-bind="text: Description"></span>
				</div>
			</div>
			</div>
			<div class="col-xs-11 col-sm-4" data-bind="if: $root.showInvoiceData">
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs text-nowrap">@(Html.Localize("Price")):</span>
					<span class="col-xs-5 col-sm-4 text-right p-r-5 p-l-5" data-bind="money: Price"></span>
					<span class="col-xs-1 p-0" data-bind="lookupValue: $root.serviceOrder().CurrencyKey, lookups: $root.lookups.currencies"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("Price")))</span>
					</span>
				</div>
				<div class="row" data-bind="if: Discount != 0">
					<span class="col-xs-2 p-r-5 visible-xs text-nowrap">@(Html.Localize("Discount")):</span>
					<span class="col-xs-5 col-sm-4 text-right p-r-5 p-l-5">- <span data-bind="money: Discount"></span></span>
					<span class="col-xs-1 p-0" data-bind="text: DiscountType == @((int)DiscountType.Percentage) ? '%' : ($root.serviceOrder().CurrencyKey() ? $root.lookups.currencies[$root.serviceOrder().CurrencyKey()].Value : '')"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("Discount")))</span>
					</span>
				</div>
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs text-nowrap">@(Html.Localize("TotalPrice")):</span>
					<span class="col-xs-5 col-sm-4 text-right p-r-5 p-l-5" data-bind="money: totalPrice"></span>
					<span class="col-xs-1 p-0" data-bind="lookupValue: $root.serviceOrder().CurrencyKey, lookups: $root.lookups.currencies"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("TotalPrice")))</span>
					</span>
				</div>
			</div>
			<div class="col-xs-11 col-sm-4">
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("L_EstimatedDuration")):</span>
					<span class="col-xs-5 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: EstimatedDuration"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("L_EstimatedDuration")))</span>
					</span>
				</div>
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("L_ActualDuration")):</span>
					<span class="col-xs-5 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: ActualDuration"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("L_ActualDuration")))</span>
					</span>
				</div>
				<div class="row" data-bind="if: $root.showInvoiceData">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("L_InvoiceDuration")):</span>
					<span class="col-xs-5 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: InvoiceDuration"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("L_InvoiceDuration")))</span>
					</span>
				</div>
			</div>
			<div class="col-xs-11 small" data-bind="visible: Comment">
				@(Html.Localize("Comment")):
				<span class="text-muted" data-bind="text: Comment"></span>
			</div>
			<div class="col-xs-11 small text-muted" data-bind="if: IsCostLumpSum || IsMaterialLumpSum || IsTimeLumpSum">
				<span data-bind="translatedText: 'LumpSum'"></span>:
				<span data-bind="text: Helper.Service.getLumpSumString($data)"></span>
			</div>
		</div>
		<ul class="lv-attrs">
			<li>
				<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($root.lookups.serviceOrderTimeStatuses, StatusKey) }"></i>
				@(Html.Localize("Status")):
				<span data-bind="lookupValue: StatusKey, lookups: $root.lookups.serviceOrderTimeStatuses"></span>
			</li>
			<!-- ko if: Crm.Service.Settings.ServiceOrderTimes.ShowPricesInMobileClient && !$root.showInvoiceData() -->
			<li data-bind="visible: Price">
				<span data-bind="money: Price"></span>
				<span data-bind="lookupValue: $root.serviceOrder().CurrencyKey, lookups: $root.lookups.currencies"></span>
			</li>
			<!-- /ko -->
			<li>
				@(Html.Localize("TimePostings")):
				<span data-bind="text: postingsCount"></span>
			</li>
			<li>
				@(Html.Localize("Material")):
				<span data-bind="text: serviceOrderMaterialsCount"></span>
			</li>
			<li>
				@(Html.Localize("ServiceCases")):
				<!-- ko if: serviceCasesCount > 0 -->
				<span data-bind="text: closedServiceCasesCount"></span> /
				<!-- /ko -->
				<span data-bind="text: serviceCasesCount"></span>
			</li>
			<!-- ko if: InvoicingTypeKey -->
			<li>
				@(Html.Localize("InvoicingType")):
				<span data-bind="lookupValue: InvoicingTypeKey, lookups: $root.lookups.invoicingTypes"></span>
			</li>
			<!-- /ko -->
			@Html.PluginRenderActions("DispatchJobTemplateAttributes")
		</ul>

		<lv-actions>
			<!-- ko if: $parentContext.$parentContext.$parent instanceof Crm.Service.ViewModels.DispatchDetailsJobsTabViewModel -->
			<li data-bind="visible: $root.dispatchIsEditable">
				<!-- ko with: $parentContext.$parentContext.$parent -->
				<a href="#" data-bind="click: toggleCurrentJob.bind($data, $parent), translatedText: $root.dispatch().CurrentServiceOrderTimeId() !== $parent.Id ? 'ChooseJob' : 'DeselectJob'">
				</a>
				<!-- /ko -->
			</li>
			<li data-bind="visible: $root.dispatchIsEditable, css: { 'disabled': !$parentContext.$parentContext.$parent.canCompleteJob.call($parentContext.$parentContext.$parent, $data) }">
				<!-- ko with: $parentContext.$parentContext.$parent -->
				<a href="#" data-bind="click: completeJob.bind($data, $parent), translatedText: 'Complete'">
				</a>
				<!-- /ko -->
			</li>
			<!-- /ko -->
			<li class="divider"></li>
			<!-- ko requiredPermission: { name: 'TimeEdit', group: 'ServiceOrder' } -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li data-bind="visible: canEditServiceOrderTime($parent)">
				<a href="#" data-bind="attr: { 'data-route': 'Crm.Service/ServiceOrderTime/EditTemplate/' + $parent.Id }" data-toggle="modal" data-target="#modal">
					@(Html.Localize("Edit"))
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li data-bind="visible: canDeleteServiceOrderTime($parent)">
				<a href="#" data-bind="click: $data.confirmDeleteServiceOrderTime.bind($data, $parent)">
					@(Html.Localize("Delete"))
				</a>
			</li>
			<!-- /ko -->
			@Html.PluginRenderActions("DispatchJobTemplateActions")
		</lv-actions>
		<!-- ko if:  $parent.items().length > 0 && $index() === $parent.items().length-1 && Crm.Service.Settings.ServiceOrderTimes.ShowPricesInMobileClient -->
		<div class="row m-t-15 item-group-summary">
			<div class="pull-right m-r-15">
				<strong>
					<span>@(Html.Localize("TotalPrice")):</span>
					<span data-bind="money: $parent.accumulatedTotalPrice"></span>
					<span data-bind="lookupValue: $root.serviceOrder().CurrencyKey, lookups: $root.lookups.currencies"></span>
				</strong>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>