@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	<div class="pull-left">
		<span data-bind="dateText: { value: From, pattern: { time: 'short' } }"></span><br/>
		<span data-bind="dateText: { value: To, pattern: { time: 'short' } }"></span>
	</div>
	<div class="media-body">
		<div class="row">
			<div class="col-sm-7">
				<div class="lv-title">
					<!-- ko ifnot: IsPrePlanned -->
					<span data-bind="dateText: From"></span><br/>
					<!-- /ko -->
					<span class="timeposting-itemno" data-bind="text: ItemNo"></span> - <span data-bind="text: ItemDescription"></span>
				</div>
				<div>
					<span data-bind="text: Description"></span>
				</div>
				<ul class="lv-attrs">
					<li data-bind="visible: Crm.Service.Settings.ServiceOrderTimePosting.ShowTechnicianSelection && !IsPrePlanned()">
						<i class="zmdi zmdi-account-circle"></i>
						<span data-bind="text: Helper.User.getDisplayName(User)"></span>
					</li>
					<li data-bind="visible: Kilometers">
						<i class="zmdi zmdi-directions"></i>
						<span data-bind="text: Kilometers"></span>
						@(Html.Localize("Kilometers"))
					</li>
					<li data-bind="visible: PlannedDuration">
						<i class="zmdi zmdi-time"></i>
						<span>@(Html.Localize("PrePlanned"))</span>
					</li>
					<li data-bind="visible: IsClosed">
						<i class="zmdi zmdi-tag-close"></i>
						<span data-bind="translatedText: 'Closed'"></span>
					</li>
				</ul>
			</div>
			<div class="col-xs-11 col-sm-4">
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("EstimatedQty")):</span>
					<span class="col-xs-6 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: PlannedDuration"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span>@(Html.Localize("HourAbbreviation"))</span>
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("EstimatedQty")))</span>
					</span>
				</div>
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("ActualQty")):</span>
					<span class="col-xs-6 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: Duration"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span>@(Html.Localize("HourAbbreviation"))</span>
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("ActualQty")))</span>
					</span>
				</div>
			</div>
		</div>
		<lv-actions>
			<!-- ko requiredPermission: { name: 'TimePostingsEdit', group: 'ServiceOrder' } -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li data-bind="visible: $data.timePostingCanBeEdited.call($data, $parent)">
				<a href="#" data-bind="attr: { 'data-route': `Crm.Service/ServiceOrderTimePosting/EditTemplate/${$parent.Id()}?${($data.canEditEstimatedQuantities() ? 'prePlanned=true' : '')}` }" data-toggle="modal" data-target="#lgModal">
					@(Html.Localize("Edit"))
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'TimePostingRemove', group: 'ServiceOrder' } -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li data-bind="visible: $data.timePostingCanBeDeleted.call($data, $parent)">
				<a href="#" data-bind="click: $data.deleteServiceOrderTimePosting.bind($data, $parent)">
					<!-- ko if: $parent.WasPrePlanned() -->
					@(Html.Localize("Reset"))
					<!-- /ko -->
					<!-- ko ifnot: $parent.WasPrePlanned() -->
					@(Html.Localize("Delete"))
					<!-- /ko -->
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			@Html.PluginRenderActions("DispatchTimePostingTemplateActions")
		</lv-actions>
	</div>
</div>
