@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="requiredPermission: { name: 'Create', group: 'Company' }">
	<a href="#" data-route="Main/Address/EditTemplate/?contactId={{company().Id}}&name={{company().Name}}" data-toggle="modal" data-target="#lgModal" data-bind="click: function () { $('.tab-nav a[href=\'#tab-details\']').tab('show'); }">
		<i class="zmdi zmdi-playlist-plus"></i>
		@(Html.Localize("AddAddressToCompany"))
	</a>
</li>



<li data-bind="requiredPermission: { name: 'EditVisibility', group: 'UserAdmin' }">
	<a href="#" data-route="Main/Visibility/Edit" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-eye"></i>
		@(Html.Localize("EditVisibility"))
	</a>
</li>

<li data-bind="requiredPermission: { name: 'Merge', group: 'Company' }, visible: !Helper.Offline || Helper.Offline.status === 'online'">
	<a href="#" data-route="Main/Company/Merge/{{company().Id}}" data-toggle="modal" data-target="#modal">
		<i class="zmdi zmdi-arrow-merge"></i>
		@(Html.Localize("MergeDuplicates"))
	</a>
</li>

<li data-bind="requiredPermission: { name: 'Delete', group: 'Company' }">
	<a href="#" data-bind="click: toggleEnabled">
		<i class="zmdi zmdi-minus-circle" data-bind="visible: $root.company().IsEnabled()"></i>
		<span data-bind="visible: $root.company().IsEnabled()">@(Html.Localize("SetEntityInactive", Html.Localize("Company")))</span>
		<i class="zmdi zmdi-check-circle" data-bind="visible: !$root.company().IsEnabled()"></i>
		<span data-bind="visible: !$root.company().IsEnabled()">@(Html.Localize("SetEntityActive", Html.Localize("Company")))</span>
	</a>
</li>
