@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt" data-bind="with: replenishmentOrderItem">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState === 20">@(Html.Localize("AddMaterial"))</h4>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState !== 20">@(Html.Localize("EditMaterial"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form role="form" action="#" data-bind="with: replenishmentOrderItem">
		<!-- ko requiredPermission: { name: 'ReplenishmentsFromOtherUsersSelectable', group: 'ReplenishmentOrder' } -->
		<form-element id="ResponsibleUser" params="value: $root.replenishmentOrder().ResponsibleUserObject, caption: 'ResponsibleUser', type: 'select'">
			<select name="ResponsibleUser" class="form-control" disabled="disabled">
				<option selected="selected">{{Helper.User.getDisplayName(value)}}</option>
			</select>
		</form-element>
		<!-- /ko -->
		<!-- ko if: MaterialNo() === null || ArticleId() !== null && Article() && Article().IsActive()-->
		<form-element id="ArticleId" params="value: ArticleId, caption: 'Material'">
			<div class="input-group">
				<select name="ArticleId" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Article.getArticleSelect2Options($root), placeholder: placeholder}, disable: $parent.innerInstance.entityState !== 20 && $root.replenishmentOrderItem().ServiceOrderMaterials().length !== 0">
				</select>
				<!-- ko component: { name: "barcode-scanner", params: { value: value, source: () => $root.getArticleSelect2Filter(database.CrmArticle_Article, ''), column: 'BarCode', id: 'Id' } } -->
				<!-- /ko -->
			</div>
		</form-element>
		<!-- /ko -->
		<!-- ko ifnot: MaterialNo() === null || ArticleId() !== null && Article() && Article().IsActive()-->
			<div class="entry clearfix no-border">
				<div class="alert alert-warning">@(Html.Localize("MaterialArticleDeleted"))(<span data-bind="text: MaterialNo"></span>)</div>
			</div>
		<!-- /ko -->
		<form-element id="Quantity" params="name: 'Quantity', value: Quantity, caption: $parent.quantityUnit() ?  window.Helper.String.getTranslatedString('Quantity') + ' (' + $parent.quantityUnit().Value + ')' : 'Quantity', type: 'number', disable: $root.replenishmentOrderItem().ServiceOrderMaterials().length !== 0, quantityStep: Article() && Article().QuantityStep()"></form-element>
		<form-element params="value: Remark, caption: 'InternalRemark', type: 'textarea'"></form-element>
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>
