@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div id="{{Id}}" class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	 @await Html.PartialAsync("GenericListBulkControl") 
	<div class="lv-avatar pull-left" data-bind="text: Helper.ServiceCase.getCategoryAbbreviation($data, $parent.lookups.serviceCaseCategories), style: { backgroundColor: Helper.Lookup.getLookupColor($parent.lookups.serviceCaseCategories, $data.TypeKey) }, visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="media-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="lv-title">
					<!-- ko requiredPermission: { name: 'Read', group: 'ServiceCase' } --> 
					<a href="#/Crm.Service/ServiceCase/DetailsTemplate/{{Id}}">
						<span data-bind="text: ServiceCaseNo"></span>
					</a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceCase' } -->
					<span data-bind="text: ServiceCaseNo"></span>
					<!-- /ko -->
					<small class="c-gray" data-bind="lookupValue: CategoryKey, lookups: $parent.lookups.serviceCaseCategories"></small>
				</div>
			</div>
		</div>
		<div class="row media-body">
			<div class="col-xs-6">
				<!-- ko if: AffectedInstallation -->
				<div class="small" data-bind="with: AffectedInstallation">
					@(Html.Localize("for"))
					<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
					<a data-bind="attr: { href: '#/Crm.Service/Installation/DetailsTemplate/' + Id() }, text: Helper.Installation.getDisplayName($data)"></a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
					<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
					<!-- /ko -->
				</div>
				<!-- /ko -->
				<!-- ko if: AffectedCompany -->
				<div class="small" data-bind="with: AffectedCompany">
					@(Html.Localize("at"))
					<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->
					<a data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + Id() }, text: Helper.Company.getDisplayName($data)"></a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
					<!-- /ko -->
				</div>
				<!-- /ko -->
				<!-- ko if: ServiceObject -->
				<div class="small" data-bind="with: ServiceObject">
					@(Html.Localize("ServiceObject"))
					<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } -->
					<a data-bind="attr: { href: '#/Crm.Service/ServiceObject/DetailsTemplate/' + Id() }, text: Helper.ServiceObject.getDisplayName($data)"></a>
					<!-- /ko -->
					<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
					<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
					<!-- /ko -->
				</div>
				<!-- /ko -->
				<strong data-bind="text: { value: ErrorMessage, expand: true }"></strong>
				<ul class="lv-attrs">
					<!-- ko if: ResponsibleUserUser -->
					<li>
						<i class="zmdi zmdi-account-o"></i>
						<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
					</li>
					<!-- /ko -->
					<li data-bind="visible: StatusKey() !== null">
						<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($parent.lookups.serviceCaseStatuses, $data.StatusKey) }"></i>
						@(Html.Localize("Status")):
						<span data-bind="lookupValue: StatusKey, lookups: $parent.lookups.serviceCaseStatuses"></span>
					</li>
					<li data-bind="visible: PriorityKey() !== null">
						<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($parent.lookups.servicePriorities, $data.PriorityKey) }"></i>
						@(Html.Localize("Priority")):
						<span data-bind="lookupValue: PriorityKey, lookups: $parent.lookups.servicePriorities"></span>
					</li>
					<li data-bind="visible: ServiceCaseCreateDate">
						@(Html.Localize("CreateDate")):
						<span data-bind="dateText: ServiceCaseCreateDate"></span>
					</li>
					<li data-bind="visible: ServiceCaseCreateUser">
						@(Html.Localize("CreatedBy")):
					<!-- ko if: CreateUserUser() -->
						<span data-bind="text: Helper.User.getDisplayName(CreateUserUser)"></span>
					<!-- /ko -->
					<!-- ko if: !CreateUserUser() -->
						<span data-bind="text: ServiceCaseCreateUser"></span>
					<!-- /ko -->
					</li>
				</ul>
				@Html.PluginRenderActions("ServiceCaseItemExtensions")
				@Html.PluginRenderActions("MaterialContactItemExtensions")
			</div>
			<div class="col-xs-4">
				<ul class="lv-attrs" data-bind="foreach: Tags">
					<li data-bind="text: Name"></li>
				</ul>
			</div>
			<lv-actions>@Html.PluginRenderActions("ServiceCaseItemTemplateActions")</lv-actions>
		</div>
	</div>
</div>
