@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="modal-header card-header ch-alt" data-bind="with: lookup">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState === 20">@(Html.Localize("Create"))</h4>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState !== 20">@(Html.Localize("Edit"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form role="form" action="#" data-bind="with: lookup">

		<fieldset>
			<legend class="m-b-25 c-black b-0 f-500 f-14">
				@(Html.Localize("BasicInformation"))
			</legend>

			<form-element params="value: Key, caption: 'Key', type: 'text', disable: getEntity().entityState !== 20"></form-element>
			<div class="row">
				<div class="col-md-6">
					<form-element params="value: SortOrder, caption: 'SortOrder', type: 'number'"></form-element>
				</div>
				<div class="col-md-6">

					<form-element params="value: Favorite, caption: 'Favorite', type: 'checkbox'"></form-element>
				</div>
			</div>

			<!-- ko if: $data.Color !== undefined -->
			<div class="row">
				<div class="col-md-6">
					<form-element params="value: Color, caption: 'Color'">
						<div class="cp-container">
							<div class="input-group form-group">
								<span class="input-group-addon">
									<i class="zmdi zmdi-invert-colors"></i>
								</span>
								<div class="fg-line dropdown">
									<input type="text" class="form-control cp-value" data-bind="colorpicker: value, value: value">
									<i class="cp-value" data-bind="style: { 'background-color': value }, color: value"></i>
								</div>
							</div>
						</div>
					</form-element>
				</div>
			</div>
			<!-- /ko -->

			@Html.PluginRenderActions("LookupEditBasicInformation")
		</fieldset>

		<script type="text/html" id="lookup-property-edit">

			<!-- ko with: $root.getLookupPropertyContext($data, $parent.Key) -->

			<!-- ko if: PropertyTypeName === "System.String" -->
			<form-element params="value: Value, caption: Name, type: 'text'"></form-element>
			<!-- /ko -->

			<!-- ko if: PropertyTypeName === "System.Int32" -->
			<form-element params="value: Value, caption: Name, type: 'number'"></form-element>
			<!-- /ko -->

			<!-- ko if: PropertyTypeName === "System.Boolean" -->
			<form-element params="value: Value, caption: Name, type: 'checkbox'"></form-element>
			<!-- /ko -->

			<!-- ko if: PropertyTypeName === "System.Collections.Generic.List`1[System.String]" && IsCustomHandledLookup === false -->
			<form-element params="value: Value, caption: Name">
				<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: value(), autocompleteOptions: { tags:true }, placeholder: placeholder }, selectedOptions: value">
				</select>
			</form-element>
			<!-- /ko -->

			<!-- ko if: PropertyTypeName === "System.Decimal" -->
			<form-element params="value: Value, caption: Name, type: 'money', quantityStep: 0.01"></form-element>
			<!-- /ko -->

			<!-- ko if: PropertyTypeName === "System.DateTime" -->
			<form-element params="value: Value, caption: Name, type: 'datePicker'"></form-element>
			<!-- /ko -->

			@Html.PluginRenderActions("LookupPropertyEdit")

			<!-- /ko -->
		</script>

		<fieldset data-bind="visible: $root.sharedLookupProperties().length > 0">
			<legend class="p-t-25 m-b-25 c-black b-0 f-500 f-14">
				@(Html.Localize("ExtendedInformation"))
			</legend>

			<!-- ko with: $root.language -->
			<div data-bind="template: { name: 'lookup-property-edit', foreach: $root.sharedLookupProperties }"></div>
			<!-- /ko -->
		</fieldset>

		<fieldset>
			<legend class="p-t-25 m-b-25 c-black b-0 f-500 f-14">
				@(Html.Localize("Translations"))
			</legend>

			<!-- ko foreach: $root.languages -->
			<div id="lookup-translations-{{Key}}">
				<h6 data-bind="text: Value"></h6>
				<div data-bind="template: { name: 'lookup-property-edit', foreach: $root.lookupProperties }"></div>
			</div>
			<!-- /ko -->
		</fieldset>
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>