@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div id="{{Id}}" class="lv-item media p-b-15" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	<div class="media-body">
		<div class="row">
			<div class="col-sm-8">
				<div class="lv-title">
					<span data-bind="text: MaterialNo"></span> - <span data-bind="text: Description"></span>
				</div>
				<div>
					<span data-bind="text: Remark"></span>
				</div>
				<!-- ko foreach: ServiceOrderMaterials -->
				<div data-bind="with: ServiceOrderHead">
					<small class="text-muted" data-bind="text: OrderNo"></small>
				</div>
				<!-- /ko -->
			</div>
			<div class="col-sm-4">
				@(Html.Localize("Quantity")): <span data-bind="money: Quantity"></span> <span data-bind="lookupValue: QuantityUnitKey, lookups: $root.lookups.quantityUnits"></span>
			</div>
		</div>
		<lv-actions>
			<!-- ko foreach: ServiceOrderMaterials -->
			<li data-bind="requiredPermission: { name: 'Read', group: 'Dispatch' }, visible: DispatchId">
				<a data-bind="attr: { href: '#/Crm.Service/Dispatch/DetailsTemplate/' + DispatchId() }, translatedText: 'ViewDispatch'">
				</a>
			</li>
			<!-- /ko -->
			<!-- ko ifnot: $root.replenishmentOrder().IsClosed -->
			<!-- ko requiredPermission: { name: 'EditItem', group: 'ReplenishmentOrder' } -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li>
				<a href="#" data-route="Crm.Service/ReplenishmentOrderItem/Edit/{{$parent.Id}}?replenishmentOrderId={{replenishmentOrder().Id}}" data-toggle="modal" data-target="#modal">
					@(Html.Localize("Edit"))
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko ifnot: $root.replenishmentOrder().IsClosed -->
			<!-- ko requiredPermission: { name: 'DeleteItem', group: 'ReplenishmentOrder' } -->
			<!-- ko with: $parentContext.$parentContext.$parent -->
			<li>
				<a href="#" data-bind="click: $data.deleteReplenishmentOrderItem.bind($data, $parent)">
					@(Html.Localize("Delete"))
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
			<!-- /ko -->
			@Html.PluginRenderActions("ReplenishmentOrderItemTemplateActions")
		</lv-actions>
		<!-- ko if: $root.showSummary && $data.itemGroup && ($index() > 0 && _.isEqual(($parent.items()[$index() -1] || {}).itemGroup, $data.itemGroup)) && ($index() === $parent.items().length-1 || !_.isEqual($parent.items()[$index() +1].itemGroup, $data.itemGroup))-->
		<div class="row m-t-15 item-group-summary">
			<div class="col-sm-3 col-sm-offset-8">
				<strong>
					<span>@(Html.Localize("Summary")):</span>
					<span data-bind="money: $root.getQuantitySummary($data.itemGroup)"></span>
					<span data-bind="lookupValue: QuantityUnitKey, lookups: $root.lookups.quantityUnits"></span>
				</strong>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
