@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<div class="col-md-4 col-sm-12">
	<!-- ko with: replenishmentOrderListViewModel -->
	<div class="card">
		<div class="card-header ch-alt">
			<h2 class="p-b-15">@(Html.Localize("LastReplenishmentOrders"))</h2>
			<form-element params="value: selectedUser, caption: 'ResponsibleUser', type: 'select'">
				<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, onSelect: $root.onResponsibleUserSelect.bind($root), placeholder: Helper.String.getTranslatedString('All') } }, disable: !window.AuthorizationManager.isAuthorizedForAction('ReplenishmentOrder', 'ReplenishmentsFromOtherUsersSelectable')">
				</select>
			</form-element>
			<div data-bind="component: { name: 'date-filter', params: { allowFutureDates: false, allowPastDates: true, caption: 'Date', value: getFilter('CloseDate') } }"></div>
		</div>
		<div class="card-body ch-alt">
			<div class="list-group">
				<div class="listview lv-bordered">
					<div class="lv-body row">
						<div class="col-xs-12">
							<div data-bind="foreach: items ">
								<div class="lv-item media">
									<div class="media-body">
										<ul class="lv-attrs">
											<li>
												<i class="zmdi zmdi-account-o"></i>
												<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserObject)"></span>
											</li>
											<li>
												<i class="zmdi zmdi-calendar"></i>
												<span>
													<span data-bind="dateText: CreateDate"></span>
												</span>
												<span>-</span>
												<span>
													<span href="#" data-bind="dateText: CloseDate"></span>
												</span>
											</li>
										</ul>
										<lv-actions>
											<li>
												<a href="#" data-bind="click: $root.showReplenishmentOrder">
													@(Html.Localize("Details"))
												</a>
											</li>
											<li>
												<a href="#" data-toggle="modal" data-target="#lgModal" data-route="Crm.Service/ReplenishmentOrder/ReportPreview/{{Id}}">
													@(Html.Localize("Preview"))
												</a>
											</li>
											<li>
												<a href="@Url.Content("~/Crm.Service/ReplenishmentOrder/CreatePdf/{{Id}}")">
													@(Html.Localize("DownloadReport"))
												</a>
											</li>
										</lv-actions>
									</div>
								</div>
							</div>
							@await Html.PartialAsync("MaterialPaging")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>