@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div id="{{Id}}" class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	@await Html.PartialAsync("GenericListBulkControl")
	<div class="lv-avatar pull-left" data-bind="text: Helper.ServiceOrder.getTypeAbbreviation($data, $parent.lookups.serviceOrderTypes), style: { backgroundColor: Helper.Lookup.getLookupColor($parent.lookups.serviceOrderTypes, $data.TypeKey) }, visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="media-body">
		<div class="row">
			<div class="col-sm-2 col-sm-push-9">
				<div class="f-500" data-bind="if: Planned">
					<strong>@(Html.Localize("PlannedDate"))</strong>
					<br />
					<span data-bind="dateText: Planned"></span>
					<span data-bind="visible: PlannedTime, durationText: PlannedTime"></span>
					<span class="c-red" data-bind="if: PlannedDateFix">
						@(Html.Localize("Fix"))
					</span>
				</div>
				<div class="f-500" data-bind="if: CreateDate">
					<strong>@(Html.Localize("CreateDate"))</strong>
					<br />
					<span data-bind="dateText: CreateDate"></span>
				</div>
				<div class="f-500" data-bind="if: Deadline">
					<strong>@(Html.Localize("Deadline"))</strong>
					<br />
					<span data-bind="dateText: Deadline"></span>
				</div>
				
				<ul class="lv-attrs" data-bind="foreach: Tags">
					<li data-bind="text: Name"></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-pull-2">
				<div class="lv-title">
					<div>
						<!-- ko requiredPermission: { name: 'Read', group: 'ServiceOrder' } --> 
						<a href="#/Crm.Service/ServiceOrder/DetailsTemplate/{{Id}}">
							<span data-bind="text: OrderNo"></span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceOrder' } -->
						<span data-bind="text: OrderNo"></span>
						<!-- /ko -->
						<small class="c-gray" data-bind="lookupValue: TypeKey, lookups: $parent.lookups.serviceOrderTypes"></small>
					</div>
					<div data-bind="with: ServiceOrderTemplate">
						@(Html.Localize("ServiceOrderTemplate"))
						<!-- ko requiredPermission: { name: 'Read', group: 'ServiceOrderTemplate' } -->
						<a href="#/Crm.Service/ServiceOrderTemplate/Details/{{Id}}">
							<span data-bind="text: Helper.ServiceOrder.getDisplayName($data)"></span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceOrderTemplate' } -->
						<span data-bind="text: Helper.ServiceOrder.getDisplayName($data)"></span>
						<!-- /ko -->
					</div>
					<div data-bind="with: Company">
						@(Html.Localize("Customer"))
						<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->
						<a href="#/Main/Company/DetailsTemplate/{{Id}}">
							<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
						<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
						<!-- /ko -->
					</div>
					<div data-bind="with: ServiceObject">
						@(Html.Localize("ServiceObject"))
						<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } -->
						<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}">
							<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
						<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
						<!-- /ko -->
					</div>
					<!-- ko if: Installations().length === 1 -->
					<div data-bind="foreach: Installations">
						<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
						<a href="#/Crm.Service/Installation/DetailsTemplate/{{Id}}">
							<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
						<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
						<!-- /ko -->
					</div>
					<!-- /ko -->
					<!-- ko if: Installations().length > 1 -->
					<div class="small">
						<span>@(Html.Localize("for"))</span>
						<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
						<a href="#/Crm.Service/ServiceOrder/DetailsTemplate/{{Id}}?tab=tab-installations">
							<span data-bind="text: Installations().length"></span>
							<span>@(Html.Localize("installations"))</span>
						</a>
						<!-- /ko -->
						<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
						<span data-bind="text: Installations().length"></span>
						<span>@(Html.Localize("installations"))</span>
						<!-- /ko -->
					</div>
					<!-- /ko -->
				</div>
				<small class="c-gray">
					<span data-bind="text: Street"></span>
					<br>
					<span data-bind="text: ZipCode"></span>
					<span data-bind="text: City"></span>
					<!-- ko if: CountryKey() || RegionKey()-->
					<br>
					<span data-bind="if: RegionKey, lookupValue: RegionKey, lookups: $root.lookups.regions, suffix: ko.unwrap(CountryKey) ? ',' : '' "></span>
					<span data-bind="if: CountryKey, lookupValue: CountryKey, lookups: $root.lookups.countries"></span>
					<!-- /ko -->
					<!-- ko if: Station() -->
					<br>
					<span data-bind="text: Station().Name()"></span>
					<!-- /ko -->
				</small>
				<div data-bind="text: { value: ErrorMessage, expand: true }"></div>
				<ul class="lv-attrs">
					<li>
						@(Html.Localize("Status")):
						<span data-bind="lookupValue: StatusKey, lookups: $parent.lookups.serviceOrderStatuses"></span>
						<!-- ko if: NoInvoiceReasonKey() !== null -->
						(<span data-bind="translatedText: 'NoInvoice'"></span>: <span data-bind="lookupValue: NoInvoiceReasonKey, lookups: $root.lookups.serviceOrderNoInvoiceReasons"></span>)
						<!-- /ko -->
					</li>
					<!-- ko if: PriorityKey -->
					<li>
						<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($parent.lookups.servicePriorities, $data.PriorityKey) }"></i>
						@(Html.Localize("Priority")):
						<span data-bind="lookupValue: PriorityKey, lookups: $parent.lookups.servicePriorities"></span>
					</li>
					<!-- /ko -->
					<!-- ko if: Installation -->
					<li>
						<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($parent.lookups.installationHeadStatuses, $data.Installation().StatusKey) }"></i>
						@(Html.Localize("InstallationStatus")):
						<span data-bind="lookupValue: Installation().StatusKey, lookups: $parent.lookups.installationHeadStatuses"></span>
					</li>
					<!-- /ko -->
					<li data-bind="visible: PurchaseOrderNo">
						@(Html.Localize("PurchaseOrderNo")):
						<span data-bind="text: PurchaseOrderNo"></span>
					</li>
					<!-- ko if: $parent.getDistance($data) -->
					<li>
						<i class="zmdi zmdi-navigation" data-bind="style: { transform: 'rotate(' + $parent.getDirection($data) + 'deg)' }"></i>
						<span data-bind="text: $parent.getDistance($data)"></span>
					</li>
					<!-- /ko -->
				</ul>
				@Html.PluginRenderActions("MaterialServiceOrderItemExtensions")
				@Html.PluginRenderActions("MaterialContactItemExtensions")
			</div>
			<lv-actions>
				@Html.PluginRenderActions("ServiceOrderItemTemplateActions")
			</lv-actions>
		</div>
	</div>
</div>
