@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block params="icon: 'equalizer', caption: 'BackgroundInfo', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit')">
		<pmbb-view>
			<!-- ko with: serviceContract -->
			<span data-bind="text: BackgroundInfo"></span>
			<span data-bind="translatedText: 'BackgroundInformationEmptyState', ifnot: BackgroundInfo"></span>
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceContract -->
			<div class="fg-line">
				<textarea class="form-control" rows="5" placeholder="@(Html.Localize("BackgroundInfo"))..." data-bind="value: BackgroundInfo"></textarea>
			</div>
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<pmb-block id="general-information-pmb" params="icon: 'equalizer', caption: 'General', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit')">
		<pmbb-view>
			<!-- ko with: serviceContract -->
			<!-- ko ifnot: window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsGenerated == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsCreateable == false && ContractNo() == null -->
			<pmbb-view-entry params="caption: 'ContractNo'">
				<span id="ContractNo" data-bind="text: Name"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Name"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'ServiceContractType'">
				<span data-bind="if: ContractTypeKey, lookupValue: ContractTypeKey, lookups: $root.lookups.serviceContractTypes"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ContractTypeKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ExternalReference'">
				<span id="external-reference" data-bind="text: ExternalReference"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExternalReference"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ResponsibleUser'">
				<!-- ko if: ResponsibleUserUser -->
				<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ResponsibleUserUser"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ValidFrom'">
				<span data-bind="if: ValidFrom, dateText: ValidFrom"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ValidFrom"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ValidTo'">
				<span data-bind="if: ValidTo, dateText: ValidTo"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ValidTo"></span>
			</pmbb-view-entry>
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<pmbb-view-entry params="caption: 'ServiceObject'">
				<!-- ko with: ServiceObject -->
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } --> 
				<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
				<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ServiceObject"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'BusinessPartner'">
				<!-- ko with: ParentCompany -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Main/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Payer'">
				<!-- ko with: Payer -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Main/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } --> 
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<address data-bind="visible: PayerAddress" class="m-b-0">
					<address-block params="address: PayerAddress, lookups: $root.lookups, showNames: false"></address-block>
				</address>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Payer"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'InvoiceRecipient'">
				<!-- ko with: InvoiceRecipient -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Main/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } --> 
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<address data-bind="visible: InvoiceAddress" class="m-b-0">
					<address-block params="address: InvoiceAddress, lookups: $root.lookups, showNames: false"></address-block>
				</address>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InvoiceRecipient"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceContractDetailsGeneralView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceContract -->
			<!-- ko ifnot: (window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsGenerated == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsCreateable == false && ContractNo() == null) || (window.Helper.Offline !== undefined ? window.Helper.Offline.status=='offline' : false) -->
			<pmbb-edit-entry params="caption: 'ContractNo', validationElement: Name">
				<input type="text" id="ContractNo" class="form-control" data-bind="value: Name, disable: window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false">
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'ServiceContractType', validationElement: ContractTypeKey">
				<select class="form-control" data-bind="select2autocompleter: { data: ContractTypeKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceContractType'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ExternalReference', validationElement: ExternalReference">
				<input type="text" class="form-control" data-bind="value: ExternalReference">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ResponsibleUser', validationElement: ResponsibleUser">
				<select class="form-control" data-bind="select2autocompleter: { data: ResponsibleUser, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: function (query) { return query.filter(function (it) { return it.Discharged === false; }); }, onSelect: function(value) { ResponsibleUserUser(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ValidFrom', validationElement: ValidFrom">
				<input type="text" class="form-control date-picker" data-bind="datePicker: ValidFrom" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ValidTo', validationElement: ValidTo">
				<input type="text" class="form-control date-picker" data-bind="datePicker: ValidTo" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<pmbb-edit-entry params="caption: 'ServiceObject', validationElement: ServiceObjectId">
				<select class="form-control" data-bind="select2autocompleter: { data: ServiceObjectId, autocompleteOptions: { orderBy: ['ObjectNo'], table: 'CrmService_ServiceObject', mapDisplayObject: Helper.ServiceObject.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { ServiceObject(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'BusinessPartner', validationElement: ParentId">
				<select class="form-control" data-bind="select2autocompleter: { data: ParentId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: function(value) { ParentCompany(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Payer', validationElement: PayerId">
				<select class="form-control" data-bind="select2autocompleter: { data: PayerId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: $root.onSelectPayer.bind($parentContext.$parent) } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Address', validationElement: PayerAddressId">
				<select class="form-control" data-bind="select2autocompleter: { data: PayerAddressId, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Main_Address', customFilter: $root.payerAddressFilter.bind($parentContext.$parent), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { PayerAddress(value ? value.asKoObservable() : null); } } }, disable: !PayerId()">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'InvoiceRecipient', validationElement: InvoiceRecipientId">
				<select class="form-control" data-bind="select2autocompleter: { data: InvoiceRecipientId, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: $root.onSelectInvoiceRecipient.bind($parentContext.$parent), placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Address', validationElement: InvoiceAddressKey">
				<select class="form-control" data-bind="select2autocompleter: { data: InvoiceAddressKey, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Main_Address', customFilter: $root.invoiceAddressFilter.bind($parentContext.$parent), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { InvoiceAddress(value ? value.asKoObservable() : null); } } }, disable: !InvoiceRecipientId()">
				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceContractDetailsGeneralEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<pmb-block params="icon: 'money-box', caption: 'InvoiceConditions', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit')">
		<pmbb-view>
			<!-- ko with: serviceContract -->
			<pmbb-view-entry params="caption: 'Price'">
				<!-- ko if: Price -->
				<span data-bind="if: PriceCurrencyKey, lookupValue: PriceCurrencyKey, lookups: $root.lookups.currencies"></span>
				<span data-bind="money: Price"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Price"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'NoPaymentsUntil'">
				<span data-bind="if: NoPaymentsUntil, dateText: NoPaymentsUntil"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: NoPaymentsUntil"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'PriceGuaranteedUntil'">
				<span data-bind="if: PriceGuaranteedUntil, dateText: PriceGuaranteedUntil"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: PriceGuaranteedUntil"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'PaymentType'">
				<span data-bind="if: PaymentTypeKey, lookupValue: PaymentTypeKey, lookups: $root.lookups.paymentTypes"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: PaymentTypeKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'PaymentInterval'">
				<span data-bind="if: PaymentIntervalKey, lookupValue: PaymentIntervalKey, lookups: $root.lookups.paymentIntervals"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: PaymentIntervalKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'PaymentCondition'">
				<span data-bind="if: PaymentConditionKey, lookupValue: PaymentConditionKey, lookups: $root.lookups.paymentConditions"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: PaymentConditionKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'InvoiceSpecialConditions'">
				<span data-bind="text: InvoiceSpecialConditions"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InvoiceSpecialConditions"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'InternalInvoiceInformation'">
				<span data-bind="text: InternalInvoiceInformation"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InternalInvoiceInformation"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			@Html.PluginRenderActions("ServiceContractDetailsInvoiceConditionsView")
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceContract -->
			<pmbb-edit-entry params="caption: 'Price', validationElement: Price">
				<input type="number" step="0.01" class="form-control" data-bind="value: Price">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Currency', validationElement: PriceCurrencyKey">
				<select class="form-control" data-bind="select2autocompleter: { data: PriceCurrencyKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Currency'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'NoPaymentsUntil', validationElement: NoPaymentsUntil">
				<input type="text" class="form-control date-picker" data-bind="datePicker: NoPaymentsUntil" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'PriceGuaranteedUntil', validationElement: PriceGuaranteedUntil">
				<input type="text" class="form-control date-picker" data-bind="datePicker: PriceGuaranteedUntil" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'PaymentType', validationElement: PaymentTypeKey">
				<select class="form-control" data-bind="select2autocompleter: { data: PaymentTypeKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_PaymentType'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'PaymentInterval', validationElement: PaymentIntervalKey">
				<select class="form-control" data-bind="select2autocompleter: { data: PaymentIntervalKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_PaymentInterval'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'PaymentCondition', validationElement: PaymentConditionKey">
				<select class="form-control" data-bind="select2autocompleter: { data: PaymentConditionKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_PaymentCondition'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'InvoiceSpecialConditions', validationElement: InvoiceSpecialConditions">
				<textarea class="form-control" data-bind="value: InvoiceSpecialConditions"></textarea>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'InternalInvoiceInformation', validationElement: InternalInvoiceInformation">
				<textarea class="form-control" data-bind="value: InternalInvoiceInformation"></textarea>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceContractDetailsInvoiceConditionsEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<pmb-block params="icon: 'alarm', caption: 'ReactionTimes', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit')">
		<pmbb-view>
		<!-- ko with: serviceContract -->
			<pmbb-view-entry params="caption: 'ReactionTimeFirstAnswer'">
				<!-- ko if: FirstAnswerValue -->
				<span data-bind="text: FirstAnswerValue"></span>
				<span data-bind="if: FirstAnswerUnitKey, lookupValue: FirstAnswerUnitKey, lookups: $root.lookups.timeUnits"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: FirstAnswerValue"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ReactionTimeServiceCompleted'">
				<!-- ko if: ServiceCompletedValue -->
				<span data-bind="text: ServiceCompletedValue"></span>
				<span data-bind="if: ServiceCompletedUnitKey, lookupValue: ServiceCompletedUnitKey, lookups: $root.lookups.timeUnits"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ServiceCompletedValue"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceContractDetailsReactionTimesView")
		<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
		<!-- ko with: serviceContract -->
			<pmbb-edit-entry params="caption: 'ReactionTimeFirstAnswer', validationElement: FirstAnswerValue">
				<input type="number" step="1" class="form-control" data-bind="value: FirstAnswerValue">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: FirstAnswerUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: FirstAnswerUnitKey, autocompleteOptions: { table: 'Main_TimeUnit', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, customFilter: $root.RhythmUnitFilter.bind($root), placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ReactionTimeServiceCompleted', validationElement: ServiceCompletedValue">
				<input type="number" step="1" class="form-control" data-bind="value: ServiceCompletedValue">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: ServiceCompletedUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: ServiceCompletedUnitKey, autocompleteOptions: { table: 'Main_TimeUnit', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, customFilter: $root.RhythmUnitFilter.bind($root), placeholder: $parent.placeholder } }">

				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceContractDetailsReactionTimesEdit")
		<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<pmb-block params="icon: 'money-box', caption: 'Budgets', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit')">
		<pmbb-view>
		<!-- ko with: serviceContract -->
			<pmbb-view-entry params="caption: 'BudgetServiceProvision'">
				<!-- ko if: ServiceProvisionValue -->
				<span data-bind="text: ServiceProvisionValue"></span>
				<span data-bind="if: ServiceProvisionUnitKey, lookupValue: ServiceProvisionUnitKey, lookups: $root.lookups.timeUnits"></span>
				<span data-bind="if: ServiceProvisionPerTimeSpanUnitKey, lookupValue: ServiceProvisionPerTimeSpanUnitKey, lookups: $root.lookups.sparePartsBudgetTimeSpanUnits"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ServiceProvisionValue"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'BudgetSpareParts'">
				<!-- ko if: SparePartsValue -->
				<span data-bind="text: SparePartsValue"></span>
				<span data-bind="if: SparePartsUnitKey, lookupValue: SparePartsUnitKey, lookups: $root.lookups.currencies"></span>
				<span data-bind="if: SparePartsPerTimeSpanUnitKey, lookupValue: SparePartsPerTimeSpanUnitKey, lookups: $root.lookups.sparePartsBudgetTimeSpanUnits"></span>
				<!-- ko if: SparePartsBudgetInvoiceTypeKey -->
				(<span data-bind="lookupValue: SparePartsBudgetInvoiceTypeKey, lookups: $root.lookups.sparePartsBudgetInvoiceTypes"></span>)
				<!-- /ko -->
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: SparePartsValue"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceContractDetailsBudgetsView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceContract -->
			<pmbb-edit-entry params="caption: 'BudgetServiceProvision', validationElement: ServiceProvisionValue">
				<input type="number" step="0.01" class="form-control" data-bind="value: ServiceProvisionValue">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: ServiceProvisionUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: ServiceProvisionUnitKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_TimeUnit'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: ServiceProvisionPerTimeSpanUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: ServiceProvisionPerTimeSpanUnitKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_SparePartsBudgetTimeSpanUnit'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'BudgetSpareParts', validationElement: SparePartsValue">
				<input type="number" step="0.01" class="form-control" data-bind="value: SparePartsValue">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: SparePartsUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: SparePartsUnitKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Currency'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: SparePartsPerTimeSpanUnitKey">
				<select class="form-control" data-bind="select2autocompleter: { data: SparePartsPerTimeSpanUnitKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_SparePartsBudgetTimeSpanUnit'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="validationElement: SparePartsBudgetInvoiceTypeKey">
				<select class="form-control" data-bind="select2autocompleter: { data: SparePartsBudgetInvoiceTypeKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_SparePartsBudgetInvoiceType'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceContractDetailsBudgetsEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	@Html.PluginRenderActions("ServiceContractMaterialDetailsTabExtensions")
	@Html.PluginRenderActions("ContactMaterialDetailsTabExtensions")
</div>

