@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions
@using Crm.Library.Globalization.Extensions

<div id="{{Id}}" class="lv-item media">
	@await Html.PartialAsync("GenericListBulkControl")
	<div class="lv-avatar pull-left" data-bind="text: Helper.Installation.getTypeAbbreviation($data, $parent.lookups.installationTypes), style: { backgroundColor: Helper.Lookup.getLookupColor($parent.lookups.installationTypes, $data.InstallationTypeKey) }, visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="row media-body">
		<div class="col-xs-6">
			<div class="lv-title">
				<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } --> 
				<a data-bind="attr: { href: '#/Crm.Service/Installation/DetailsTemplate/' + Id() }">
					<span class="installation-title" data-bind="text: Helper.Installation.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
				<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
				<!-- /ko -->
				<small class="c-gray" data-bind="lookupValue: InstallationTypeKey, lookups: $parent.lookups.installationTypes"></small>
			</div>
			<!-- ko if: LocationAddressKey -->
			<small class="lv-small" data-bind="with: Address">
				<address-block params="address: $data, lookups: $parentContext.$parent.lookups, showNames: false, showLink: false"></address-block>
			</small>
			<!-- /ko -->
			<!-- ko if: Company -->
			<div class="small" data-bind="with: Company">
				@(Html.Localize("Company")):
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + Id() }, text: Helper.Company.getDisplayName($data)"></a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } --> 
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<!-- /ko -->
			<!-- ko if: ServiceObject -->
			<div class="small" data-bind="with: ServiceObject">
				@(Html.Localize("ServiceObject")):
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } --> 
				<a data-bind="attr: { href: '#/Crm.Service/ServiceObject/DetailsTemplate/' + Id() }, text: Helper.ServiceObject.getDisplayName($data)"></a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } --> 
				<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<!-- /ko -->
			<ul class="lv-attrs">
				<li>
					<i class="zmdi zmdi-circle" data-bind="style: { color: Helper.Lookup.getLookupColor($parent.lookups.installationHeadStatuses, $data.StatusKey) }"></i>
					@(Html.Localize("InstallationStatus")):
					<span data-bind="lookupValue: StatusKey, lookups: $parent.lookups.installationHeadStatuses"></span>
				</li>
				<!-- ko if: ResponsibleUserUser -->
				<li>
					<i class="zmdi zmdi-account-o"></i>
					<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
				</li>
				<!-- /ko -->
				<!-- ko if: ExternalReference -->
				<li>
					@(Html.Localize("ExternalReference")):
					<span data-bind="text: ExternalReference"></span>
				</li>
				<!-- /ko -->
			</ul>
			@Html.PluginRenderActions("MaterialInstallationItemExtensions")
			@Html.PluginRenderActions("MaterialContactItemExtensions")
		</div>
		<div class="col-xs-4">
			<ul class="lv-attrs" data-bind="foreach: Tags">
				<li data-bind="text: Name"></li>
			</ul>
		</div>
		<lv-actions>@Html.PluginRenderActions("InstallationItemTemplateActions")</lv-actions>
	</div>
</div>
