@using Crm.Article.Model.Enums
@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="modal-header card-header ch-alt" data-bind="with: serviceOrderTime">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState === 20">@(Html.Localize("AddServiceOrderTime"))</h4>
	<h4 class="modal-title" data-bind="visible: innerInstance.entityState !== 20">@(Html.Localize("EditServiceOrderTime"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form role="form" action="#" data-bind="with: serviceOrderTime">
		<form-element params="value: ArticleId, caption: 'Article'">
			<select name="Article" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: $root.getArticleSelect2Filter, table: 'CrmArticle_Article', orderBy: ['ItemNo'], mapDisplayObject: Helper.Article.mapArticleForSelect2Display, onSelect: $root.onArticleSelect.bind($root), placeholder: placeholder } }">
			</select>
		</form-element>
		<form-element params="value: Description, caption: 'Description', type: 'textarea'"></form-element>
		<!-- ko if: $root.templateJob -->
		<form-element params="value: EstimatedDuration, caption: 'EstimatedDuration', type: 'durationPicker'"></form-element>
		<!-- /ko -->
		<!-- ko if: $root.isInvoicingTypeEditAllowed.bind($root) -->
		<form-element id="InvoicingTypeKey" params="value: InvoicingTypeKey, caption: 'InvoicingType', type: 'select2'">
			<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: $.extend(Helper.Lookup.getAutocompleteOptions('Main_InvoicingType'), { onSelect: Helper.Service.onInvoicingTypeSelected.bind(null, $parent), placeholder: placeholder })}">
			</select>
		</form-element>
		<div data-bind="if: IsCostLumpSum() || IsMaterialLumpSum() || IsTimeLumpSum()">
			<strong data-bind="translatedText: 'LumpSum'"></strong>:
			<span data-bind="text: Helper.Service.getLumpSumString($data)"></span>
			<hr/>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: $root.templateJob -->
		<div class="row">
			<div class="{{$root.canEditInvoiceDuration() ? 'col-md-4' : 'col-md-6'}}">
				<form-element params="name: 'EstimatedDuration', value: EstimatedDuration, caption: 'L_EstimatedDuration', type: 'durationPicker', disable: !$root.canEditEstimatedDuration()"></form-element>
			</div>
			<div class="{{$root.canEditInvoiceDuration() ? 'col-md-4' : 'col-md-6'}}">
				<form-element params="name: 'ActualDuration', value: ActualDuration, caption: 'L_ActualDuration', type: 'durationPicker', disable: true"></form-element>
			</div>
			<div class="col-md-4" data-bind="visible: $root.canEditInvoiceDuration">
				<form-element params="name: 'InvoiceDuration', value: InvoiceDuration, caption: 'L_InvoiceDuration', type: 'durationPicker', disable: !$root.canEditInvoiceDuration()"></form-element>
			</div>
		</div>
		<div class="row" data-bind="visible: $root.canEditInvoiceDuration">
			<div class="col-md-6">
				<form-element params="name: 'Price', caption: 'Price', value: Price, type: 'number'"></form-element>
			</div>
			<div class="col-md-5">
				<form-element params="name: 'Discount', caption: 'Discount', value: Discount, type: 'number'"></form-element>
			</div>
			<div class="col-md-1">
				<span style="
				margin-left: -14px;
			    margin-top: 25px;
			    display: inline-block;">
					<button class="btn btn-default waves-effect discount-type text-nowrap" data-bind="text: DiscountType() == @((int)DiscountType.Percentage) ? '%' : ($root.serviceOrder().CurrencyKey() ? $root.lookups.currencies[$root.serviceOrder().CurrencyKey()].Value : '?'), click: $root.toggleDiscountType"></button>
				</span>
			</div>
		</div>
		<form-element params="value: InstallationId, caption: 'Installation'">
			<select name="Installation" class="form-control" data-bind="select2autocompleter: { data: $parent.InstallationId, autocompleteOptions: { table: 'CrmService_Installation', orderBy: ['InstallationNo', 'Description'], customFilter: $root.installationFilter.bind($root), placeholder: placeholder, mapDisplayObject: function (o) { return { id: o.Id, text: Helper.Installation.getDisplayName(o) }; }} }">
			</select>
		</form-element>
		<!-- /ko -->
		<form-element params="value: Comment, caption: 'Comment', type: 'textarea'"></form-element>
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>