@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block params="icon: 'equalizer', caption: 'BackgroundInfo', context: { serviceObject: serviceObject }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceObject', 'Edit')">
		<pmbb-view>
			<!-- ko with: serviceObject -->
			<span data-bind="text: BackgroundInfo"></span>
			<span data-bind="translatedText: 'BackgroundInformationEmptyState', ifnot: BackgroundInfo"></span>
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceObject -->
			<div class="fg-line">
				<textarea class="form-control" rows="5" placeholder="@(Html.Localize("BackgroundInfo"))..." data-bind="value: BackgroundInfo"></textarea>
			</div>
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<pmb-block id="general-pmb" params="icon: 'equalizer', caption: 'General', context: { serviceObject: serviceObject }, onSave: $root.onSaveGeneral, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceObject', 'Edit')">
		<pmbb-view>
			<!-- ko with: serviceObject -->
			<!-- ko ifnot: window.Crm.Service.Settings.ServiceObject.ObjectNoIsEditable == false && window.Crm.Service.Settings.ServiceObject.ObjectNoIsGenerated == false && window.Crm.Service.Settings.ServiceObject.ObjectNoIsCreateable == false && ObjectNo() == null -->
			<pmbb-view-entry params="caption: 'ObjectNo'">
				<span data-bind="text: ObjectNo"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ObjectNo"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'Name'">
				<span data-bind="text: Name"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Name"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Category'">
				<span data-bind="if: CategoryKey, lookupValue: CategoryKey, lookups: $root.lookups.serviceObjectCategories"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: CategoryKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ResponsibleUser'">
				<!-- ko if: ResponsibleUserUser -->
				<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ResponsibleUserUser"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceObjectDetailsGeneralView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceObject -->
			<!-- ko ifnot: (window.Crm.Service.Settings.ServiceObject.ObjectNoIsEditable == false && window.Crm.Service.Settings.ServiceObject.ObjectNoIsGenerated == false && window.Crm.Service.Settings.ServiceObject.ObjectNoIsCreateable == false && ObjectNo() == null) || (window.Helper.Offline !== undefined ? window.Helper.Offline.status=='offline' : false) -->
			<pmbb-edit-entry params="caption: 'ObjectNo', validationElement: ObjectNo">
				<input type="text" id="ServiceObjectNo" class="form-control" data-bind="value: ObjectNo">
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'Name', validationElement: Name">
				<input type="text" class="form-control" data-bind="value: Name">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Category', validationElement: CategoryKey">
				<select class="form-control" data-bind="select2autocompleter: { data: CategoryKey, autocompleteOptions: { customFilter: Helper.Lookup.queryLookup, table: 'CrmService_ServiceObjectCategory', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ResponsibleUser', validationElement: ResponsibleUser">
				<select class="form-control" data-bind="select2autocompleter: { data: ResponsibleUser, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, placeholder: $parent.placeholder, onSelect: function(value) { ResponsibleUserUser(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceObjectDetailsGeneralEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	<div data-bind="with: $root.addresses().filter(function(x) { return !x.IsCompanyStandardAddress() })">
		<!-- ko if: $root.standardAddress -->
		<contact-data params="caption: window.Helper.String.getTranslatedString('ContactAddress') + ' - ' + window.Helper.String.getTranslatedString('StandardAddress'), address: $root.standardAddress, lookups: $root.lookups, loading: $root.loading, contactType: 'ServiceObject'"></contact-data>
		<!-- /ko -->
		<!-- ko if: $root.showAllAddresses -->
			<div data-bind="foreach: {data: $data, as: 'address' }">
				<contact-data params="caption: window.Helper.String.getTranslatedString('ContactAddress') + ' #' + ($index() + 2), address: address, lookups: $root.lookups, canDelete: true, makeStandardAddress: $root.makeStandardAddress.bind($root), loading: $root.loading, contactType: 'ServiceObject'"></contact-data>
			</div>
		<!-- /ko -->
		<!-- ko if: $data.length && !$root.showAllAddresses() -->
			<a class="lv-footer" href="#" data-bind="text: Helper.String.getTranslatedString('ShowAllAddresses').replace('{0}', $root.addresses().length), click: $root.showAllAddresses.bind($root, true)"></a>
		<!-- /ko -->
		<!-- ko if: $data.length && $root.showAllAddresses() && !$root.loading() -->
		<a class="lv-footer" href="#" data-bind="text: Helper.String.getTranslatedString('Hide'), click: $root.showAllAddresses.bind($root, false)"></a>
		<!-- /ko -->
	</div>
	@Html.PluginRenderActions("ServiceObjectMaterialDetailsTabExtensions")
	@Html.PluginRenderActions("ContactMaterialDetailsTabExtensions")
</div>

