@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using Crm.Project.Model

<ul class="top-menu">
	@Html.PluginRenderActions("PotentialDetailsTopMenu")
	@Html.PluginRenderActions("ContactDetailsTopMenu")
</ul>

<div class="container">
	<div class="card" id="profile-main">
		<div class="pm-overview c-overflow" tabindex="4">
			<div class="pmo-pic">
				<!-- ko with: potential -->
				 @await Html.PartialAsync("ContactVisibilityAlert") 
				<!-- /ko -->
				<div class="p-relative">
					<div class="p-25 bgm-white text-center" data-bind="with: potential">
						<p id="potential-title" class="f-500">
							<span id="potential-no" data-bind="visible: PotentialNo">
								<span data-bind="text: PotentialNo"></span> -
							</span>
							<span id="potential-name" data-bind="text: Name"></span>
						</p>
						<div class="btn-group m-b-10">
							<button type="button" class="btn btn-lg btn-primary f-13 dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false" data-bind="enable: $root.canSetStatus">
								<span id="Status" data-bind="lookupValue: StatusKey, lookups: $root.lookups.potentialStatuses"></span>
								<span class="caret" data-bind="visible: $root.canSetStatus"></span>
							</button>
							<ul id="Statuses" class="dropdown-menu" role="menu" data-bind="foreach: $root.settableStatuses">
								<!-- ko if: Key !== null -->
								<li data-bind="css: { 'active': $root.potential().StatusKey() === Key }">
									<a href="#" data-bind="lookupValue: Key, lookups: $root.lookups.potentialStatuses, click: $root.setStatus"></a>
								</li>
								<!-- /ko -->
							</ul>
						</div>
						<hr/>
						<p data-bind="with: ResponsibleUserUser">
							<i class="zmdi zmdi-account-o"></i> <span data-bind="text: Helper.User.getDisplayName($data)"></span>
						</p>
						<p data-bind="with: ko.unwrap($root.potential).Parent">
							@(Html.Localize("ParentName"))
							<a href="#" data-bind="attr: { href: '#/Main/Company/DetailsTemplate/' + Id() }">
								<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
							</a>
						</p>
					</div>
				</div>
			</div>

			 @await Html.PartialAsync("ContactDetailsTagBlock", typeof(Potential)) 

			<div class="pmo-block pmo-contact">
				<h2>@(Html.Localize("Contact"))</h2>
				<ul>
					<!-- ko if: primaryPhone -->
					  <li>
						  <i class="zmdi zmdi-phone"></i>
						  <a href="#" data-bind="attr: { href: 'tel://' + window.Helper.Address.getPhoneNumberAsString(primaryPhone(), false, $root.lookups.countries) }, text: window.Helper.Address.getPhoneNumberAsString(primaryPhone(), true, $root.lookups.countries)"></a>
					  </li>
					<!-- /ko -->
					<!-- ko if: primaryEmail -->
					  <li>
						  <i class="zmdi zmdi-email"></i>
						  <a href="#" data-bind="attr: { href: 'mailto:' + ko.unwrap(primaryEmail().Data) + $root.currentUserDropboxAddress() }, text: primaryEmail().Data"></a>
					  </li>
					<!-- /ko -->
					<!-- ko if: standardAddress -->
					<li>
						<i class="zmdi zmdi-pin"></i>
						<address class="m-b-0"><address-block params="address: standardAddress, lookups: lookups"></address-block></address>
					</li>
					<!-- /ko -->
				</ul>
			</div>
			@Html.PluginRenderActions("MaterialPotentialSidebarExtensions")
			@Html.PluginRenderActions("MaterialContactSidebarExtensions")
		</div>

		<div class="pm-body clearfix">
			<ul class="tab-nav tn-justified" role="tablist" tabindex="1">
				@Html.PluginRenderActions("PotentialDetailsMaterialTabHeader")
			</ul>
			<div class="tab-content">
				@Html.PluginRenderActions("PotentialDetailsMaterialTab")
			</div>
		</div>
	</div>
</div>


