@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="hidden-xs">
	<div class="lv-item media header-container bgm-bluegray p-10">
		<div class="col-sm-1 p-l-0 p-r-0">
			<span class="c-white">@(Html.Localize("PositionAbbreviated"))</span>
		</div>
		<div class="col-sm-2 p-r-0">
			<span class="c-white">@(Html.Localize("ArticleNo"))</span>
		</div>
		<div class="col-sm-3 p-r-0">
			<span class="c-white">@(Html.Localize("Name"))</span>
		</div>
		<div class="col-sm-2 p-r-0 text-right">
			<span class="c-white">@(Html.Localize("Quantity"))</span>
		</div>
		<div class="col-sm-2 p-r-0 text-right">
			<span class="c-white">@(Html.Localize("UnitPrice"))</span>
		</div>
		<div class="col-sm-2 text-right p-r-0">
			<span class="c-white">@(Html.Localize("Total"))</span>
		</div>
	</div>
</div>